<!DOCTYPE html>
<html>
	<head>
		<title>PDF to SVG</title>
		<link rel='stylesheet' href='/css/style.css' />
	</head>
	<body>
		<div class="wrapper">
			<h1>1) <a href="/pdf2svg">Защитить изображения в PDF</a></h1>
			<h1>2) <a href="/detect">Детектировать в PDF</a></h1>

		</div>

		<div class="drop">Загрузить файл</div>
	</body>
</html>
