<!DOCTYPE html>
<html>
	<head>
		<title>SVG to PDF</title>
		<link rel='stylesheet' href='/css/style.css' />
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript">
			var script = document.createElement('script');
			script.defer = true;
			script.src = '/js/main.js?' + new Date().getTime();
			document.getElementsByTagName('head')[0].appendChild(script);
		</script>
	</head>
	<body>
		<div class="wrapper">
			<h1>SVG to PDF</h1>
			<p>Перетащите сюда архив с SVG</p>
			<p class="back"><label ><input type="checkbox" name="palette" />Обработать палитру</label></p>
			<p class="back"><a href="/svg2pdf">Повторить загрузку</a></p>
			<p class="back"><a href="/">Вернуться на главную</a></p>
			<p class="response"></p>

			<div class="upload">
				<form action="/uploadSvg" method="post" enctype="multipart/form-data">
					<input type="file" name='zip' accept=".zip" />
				</form>
			</div>
		</div>

		<div class="drop">Загрузить файл</div>
	</body>
</html>
